# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/
.env/

# Jupyter
.ipynb_checkpoints/
notebooks/logs/

# OS
.DS_Store
Thumbs.db

# Build / packaging
dist/
build/
*.egg-info/

# Data
data
data/
*.csv
*.tsv
*.parquet
