pandas
numpy
matplotlib
seaborn

# NLP & sentiment
nltk
textblob
vaderSentiment

# ML & utils
scikit-learn
jupyter

# Finance & TA
pynance       
pandas_ta   

# timezone / date
python-dateutil
pytz

# dev / testing
pytest
black
isort
